footer{
    background: $colorSidebarBlack;
    z-index:100;
    padding:20px 0;
    .wrapper{
        .footerContainer{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            p{
                font-size:0.8rem;
                color:$colorMainBrightDarkBlue;
            }
        }
    }
}

@media (max-width: 1440px){
    
}

@media (max-width:1080px){

}

@media (max-width:700px){
    
}

@media (max-width:570px){

}