h1,
h2,
h3,
h4,
a,
p{
    margin:0;
    padding:0;
}

h1{
    color:red;
}

ul{
    padding-left: 25px;
    padding:0;
    margin:0;
}

li{
    list-style: none;
}

a{
    font-size: .8rem;
    font-weight:600px;
    // text-transform: uppercase;
    text-decoration: none;
    color: $colorMainBrightLightBlue;
}

button{
    border-style: none;
    background-color: $colorYellow;
    color:$colorMediumBlue;
    font-variant: small-caps;
    font-size: 1rem;
    font-weight: 600;
    &:hover,
    &:focus{
        border: solid 2px $colorDarkBlue;
        filter: drop-shadow(0 0 2px $colorYellow);
    &:active{
        border: solid 2px $colorYellow;
        background: $colorMediumBlue;
        color:$colorYellow;
        box-shadow: inset 0 0 4px $colorYellow;
    }
    }

}


.wrapper{
    margin-left: calc(10% + 100px);
    margin-right: calc(10% + 100px);
    max-width: 1500px;
    
}

.lightSection{
    background-color: $colorMainBrightTrueWhite;
}

.darkSection{
    background-color: $colorMediumBlue;
}

.rkcodeLogoBottom{
    display:none;
}


@media (max-width: 1440px){
    
}

@media (max-width:880px){

}


@media (max-width:700px){
    .wrapper{
        margin-left:10%;
        margin-right:10%;        
    }
}