//SLIDEOUT STYLING

.hideSlideout{
    visibility:none;
    left: -150%;
}
.showSlideout{
    visibility: visible;
    left: 0%;
}

.emptyCircle{
    span{
        .fas.fa-bars{
            color:$colorYellow;
        }
        .far.fa-circle{
            // color:$colorYellow;
            color:$colorYellow;
        }
        .fas.fa-circle{
            color:$colorDarkBlue;
            // font-size: 50px;
        }
    }
}
.fullCircle{
    span{
        .fas.fa-bars{
            color:$colorDarkBlue;
        }
        .far.fa-circle{
            color:$colorYellow;
        }
        .fas.fa-circle{
            color:$colorYellow;
            // font-size: 50px;
        }
    }
}

// SLIDEOUT NAV PROJECT DROPDOWN STYLING
.invisible{
    display:none;
}

.visible{
    display:block;
}

.sideNavSlideout ul .nestedMenu{
    .colorMe{
        color:$colorYellow;
        filter: drop-shadow(0 0 5px $colorYellow);
    }
}


@media (max-width: 1440px){
    
}

@media (max-width:1080px){

}

@media (max-width:700px){
    
}

@media (max-width:570px){

}
