.sidebarNavigation{
    width:100px;
    height:100vh;
    position: fixed;
    background-color: $colorDarkBlue;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
    
    .logoContainer{
        background-color: $colorMediumBlue;
        width:100px;
        height:100px;
        img{
            width:100%;
            object-fit: contain;
            &:hover{
                transition: ease all 0.2s;
                filter: drop-shadow(0 0 5px $colorYellow);
            }
        }
    }
    .sideNavButton{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span{
            display:flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
            i{
                transition: ease all 0.1s;
                // color:$colorYellow;
            }
            .fas.fa-circle{
                font-size:35px;
            }
            
        }
        &:hover{
            .fas.fa-circle{
                filter: drop-shadow(0 0 5px $colorYellow);
                font-size: 40px;
            }
            .fa-bars{
                font-size: 25px;
                filter: drop-shadow(0 0 5px $colorDarkBlue);
            }
        }
    }
    .sideNavIcons{
        width:100%;
        margin-bottom: 25%;
        ul{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            li{
                margin:5%;
                a i{
                    font-size: 30px;
                    color:$colorTextSecondaryBlue;
                    transition:ease all 0.2s; 
                    &:hover{
                        color:$colorYellow;
                        filter: drop-shadow(0 0 5px $colorYellow);
                    }
                }
            }
        }
    }
}

@media (max-width: 1440px){
    
}

@media (max-width:1080px){

}


@media (max-width:700px){
    .sidebarNavigation{
        height:50px;
        width:50px;
        z-index: 100;
       
        .logoContainer{
            height:50px;
            width:50px;
            background:$colorDarkBlue;
            img{
                // height:50px;
                // width:50px;

                &:hover{

                }
            }
        }
        .sideNavButton{
            display:none;
            span{

                i{

                }
                .fas.fa-circle{

                }
                
            }
            &:hover{
                .fas.fa-circle{

                }
                .fa-bars{

                }
            }
        }
        .sideNavIcons{
            display:none;

            ul{

                li{

                    a i{

                        &:hover{

                        }
                    }
                }
            }
        }
    }
}

