.skillSect{
    height:100%;
    .wrapper{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .skillContainer{
        height:100%;
        width:100%;
        padding:5% 10%;
        margin:10% 0;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $colorDarkBlue;
        .skillText{
            width:100%;
            margin-bottom: 5%;
            h2,
            p{
                color:$colorTextWhite;
                margin-top:5%;
            }
            h2{
                // color: $colorTextWhite;
                font-weight: 900;
                font-size:2rem; 
            }
            p{
    
            }
        }
        .skillIconContainer{
            width:100%;
            display:flex;
            justify-content: center;
            align-items: center;
            ul{
                display:flex;
                flex-direction: row;
                flex-wrap: wrap;
                .iconPair{
                    flex:1 0 auto;
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                    width:10%;
                    margin:5%;
                    p{
                        margin-top:1vw;
                        font-size: 1.5vw;
                        color:$colorTextWhite;
                        i{
                            font-size:3.5vw;
                            color:$colorYellow;
                
                        }
                
                    }
                }
            }
        }
    }

}