//main colours
$colorDarkBlue: rgb(25, 29, 40); //#191d28
$colorMediumBlue: rgb(41, 47, 64);
$colorYellow: rgb(251, 194, 94);
$colorDarkYellow: rgb(51, 49, 50);

//text colours
$colorTextWhite: rgb(211, 213, 217); 
$colorTextSecondaryDark: rgb(61, 72, 98);
$colorTextSecondaryGrey: rgb(113, 120, 150);
$colorTextSecondaryBlue: rgb(84, 102, 139);

//sidebar specific
$colorSidebarBlack: rgb(9, 10, 14);

//main header specific
$colorHeaderLightBlueBackground: rgb(89, 98, 111); //#59626f

//bright section specific
$colorMainBrightTrueWhite: rgb(255,255,255);
$colorMainBrightLightBlue: rgb(187, 195, 220);
$colorMainBrightDarkBlue: rgb(61, 71, 97);
$colorMainBrightVeryLightBlue:rgb(232, 238, 251);

//dark section 1 specific
$colorMainTertiaryMediumBlue: rgb(46, 50, 62);

//dark section 2 specific