@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;900&display=swap");
/*----------SETUP----------*/
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*--------END SETUP--------*/
* {
  margin: 0;
  padding: 0;
}

html {
  padding: 0 auto;
  margin: 0 auto;
  font-size: 120%;
  font-family: "Montserrat", sans-serif;
  background-color: white;
}

h1,
h2,
h3,
h4,
a,
p {
  margin: 0;
  padding: 0;
}

h1 {
  color: red;
}

ul {
  padding-left: 25px;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  font-size: 0.8rem;
  font-weight: 600px;
  text-decoration: none;
  color: #bbc3dc;
}

button {
  border-style: none;
  background-color: #fbc25e;
  color: #292f40;
  font-variant: small-caps;
  font-size: 1rem;
  font-weight: 600;
}
button:hover, button:focus {
  border: solid 2px #191d28;
  -webkit-filter: drop-shadow(0 0 2px #fbc25e);
          filter: drop-shadow(0 0 2px #fbc25e);
}
button:hover:active, button:focus:active {
  border: solid 2px #fbc25e;
  background: #292f40;
  color: #fbc25e;
  -webkit-box-shadow: inset 0 0 4px #fbc25e;
          box-shadow: inset 0 0 4px #fbc25e;
}

.wrapper {
  margin-left: calc(10% + 100px);
  margin-right: calc(10% + 100px);
  max-width: 1500px;
}

.lightSection {
  background-color: white;
}

.darkSection {
  background-color: #292f40;
}

.rkcodeLogoBottom {
  display: none;
}

@media (max-width: 700px) {
  .wrapper {
    margin-left: 10%;
    margin-right: 10%;
  }
}
.sidebarNavigation {
  width: 100px;
  height: 100vh;
  position: fixed;
  background-color: #191d28;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 50;
}
.sidebarNavigation .logoContainer {
  background-color: #292f40;
  width: 100px;
  height: 100px;
}
.sidebarNavigation .logoContainer img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.sidebarNavigation .logoContainer img:hover {
  -webkit-transition: ease all 0.2s;
  transition: ease all 0.2s;
  -webkit-filter: drop-shadow(0 0 5px #fbc25e);
          filter: drop-shadow(0 0 5px #fbc25e);
}
.sidebarNavigation .sideNavButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebarNavigation .sideNavButton span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebarNavigation .sideNavButton span i {
  -webkit-transition: ease all 0.1s;
  transition: ease all 0.1s;
}
.sidebarNavigation .sideNavButton span .fas.fa-circle {
  font-size: 35px;
}
.sidebarNavigation .sideNavButton:hover .fas.fa-circle {
  -webkit-filter: drop-shadow(0 0 5px #fbc25e);
          filter: drop-shadow(0 0 5px #fbc25e);
  font-size: 40px;
}
.sidebarNavigation .sideNavButton:hover .fa-bars {
  font-size: 25px;
  -webkit-filter: drop-shadow(0 0 5px #191d28);
          filter: drop-shadow(0 0 5px #191d28);
}
.sidebarNavigation .sideNavIcons {
  width: 100%;
  margin-bottom: 25%;
}
.sidebarNavigation .sideNavIcons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebarNavigation .sideNavIcons ul li {
  margin: 5%;
}
.sidebarNavigation .sideNavIcons ul li a i {
  font-size: 30px;
  color: #54668b;
  -webkit-transition: ease all 0.2s;
  transition: ease all 0.2s;
}
.sidebarNavigation .sideNavIcons ul li a i:hover {
  color: #fbc25e;
  -webkit-filter: drop-shadow(0 0 5px #fbc25e);
          filter: drop-shadow(0 0 5px #fbc25e);
}

@media (max-width: 700px) {
  .sidebarNavigation {
    height: 50px;
    width: 50px;
    z-index: 100;
  }
  .sidebarNavigation .logoContainer {
    height: 50px;
    width: 50px;
    background: #191d28;
  }
  .sidebarNavigation .sideNavButton {
    display: none;
  }
  .sidebarNavigation .sideNavIcons {
    display: none;
  }
}
.sideNavSlideout {
  background-color: #191d28;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2359626f' fill-opacity='0.5' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  -webkit-clip-path: polygon(85% 0, 100% 29%, 100% 70%, 84% 100%, 0 100%, 0 0);
          clip-path: polygon(85% 0, 100% 29%, 100% 70%, 84% 100%, 0 100%, 0 0);
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150%;
  height: 100%;
  margin-left: 100px;
  opacity: 0.95;
  -webkit-transition: ease all 0.8s;
  transition: ease all 0.8s;
  z-index: 40;
}
.sideNavSlideout ul {
  margin-left: 8%;
  width: 50%;
}
.sideNavSlideout ul li {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 10px;
}
.sideNavSlideout ul li a {
  color: #bbc3dc;
}
.sideNavSlideout ul li a:hover {
  -webkit-filter: drop-shadow(0 0 5px #fbc25e);
          filter: drop-shadow(0 0 5px #fbc25e);
  color: #fbc25e;
}
.sideNavSlideout ul li .slideoutProjectList {
  width: 100%;
  margin-top: 5px;
}
@media (max-width: 700px) {
  .sideNavSlideout {
    display: none;
  }
}
header {
  background-color: #292f40;
  background-image: url(./assets/potentialheader2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .topNav {
  position: sticky;
  top: 0;
  left: 100px;
  width: calc(100% - 200px);
  height: 100px;
  background-color: #191d28;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .topNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .topNav ul li {
  padding: 0 4%;
}
header .topNav ul li a {
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: ease all 0.2s;
  transition: ease all 0.2s;
  border-top: 2px solid #191d28;
  border-bottom: 2px solid #191d28;
  padding-top: 10px;
  padding-bottom: 10px;
}
header .topNav ul li a:hover, header .topNav ul li a:focus {
  padding: 0;
  -webkit-filter: drop-shadow(0 0 5px #fbc25e);
          filter: drop-shadow(0 0 5px #fbc25e);
  border-top: 2px solid #fbc25e;
  border-bottom: 2px solid #fbc25e;
  color: #fbc25e;
}
header .topNav .mailMeBox {
  width: 100px;
  height: 100px;
  border: solid 2px #191d28;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fbc25e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .topNav .mailMeBox:hover, header .topNav .mailMeBox:focus {
  -webkit-transition: ease all 0.2s;
  transition: ease all 0.2s;
  background-color: #090a0e;
  -webkit-box-shadow: inset 0px 0px 35px 0px #fbc25e;
          box-shadow: inset 0px 0px 35px 0px #fbc25e;
}
header .topNav .mailMeBox:hover p, header .topNav .mailMeBox:focus p {
  color: #fbc25e;
  -webkit-filter: drop-shadow(0 0 5px #fbc25e);
          filter: drop-shadow(0 0 5px #fbc25e);
}
header .topNav .mailMeBox p {
  color: #191d28;
  font-size: 2rem;
}
header .mainTextContainer {
  margin-top: 125px;
  margin-bottom: 200px;
  margin-right: -100px;
  padding: 7%;
  width: 66%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #191d28;
}
header .mainTextContainer h3 {
  font-variant: small-caps;
  color: #fbc25e;
  font-size: 1rem;
  font-weight: 300;
  padding-bottom: 10px;
}
header .mainTextContainer h1 {
  font-variant: small-caps;
  color: #d3d5d9;
  font-size: 3rem;
  padding-bottom: 10px;
}
header .mainTextContainer h2 {
  color: #d3d5d9;
  font-size: 1rem;
  font-weight: 300;
  padding-bottom: 10px;
}
header .mainTextContainer button {
  width: 200px;
  height: 50px;
  margin-top: 50px;
}

@media (max-width: 700px) {
  header .topNav {
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
    z-index: 80;
  }
  header .topNav .mailMeBox {
    width: 10%;
    height: 50px;
    -webkit-transition: ease all 0.2s;
    transition: ease all 0.2s;
  }
  header .topNav .mailMeBox:hover, header .topNav .mailMeBox:focus {
    width: 75px;
    height: 75px;
  }
  header .topNav .mailMeBox p {
    font-size: 1rem;
  }
  header .mainTextContainer {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 0;
    width: 66%;
    height: calc(100vh - 200px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .mainTextContainer h1,
header .mainTextContainer h2,
header .mainTextContainer h3 {
    text-align: center;
  }
}
@media (max-width: 570px) {
  header .topNav ul {
    width: calc(90% - 50px);
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: space-evenly;
        -ms-flex-align: space-evenly;
            align-items: space-evenly;
  }
  header .topNav ul li:last-child {
    display: none;
  }
}
.aboutSect .aboutContainer {
  margin: 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutSect .aboutContainer .imageContainer {
  position: relative;
  height: 100%;
  width: 30%;
}
.aboutSect .aboutContainer .imageContainer .backers {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}
.aboutSect .aboutContainer .imageContainer .backers .imgbackerLeft,
.aboutSect .aboutContainer .imageContainer .backers .imgbackerRight,
.aboutSect .aboutContainer .imageContainer .backers .imgbackerBottom {
  position: absolute;
  margin: 10%;
  width: 80%;
  height: 80%;
  z-index: 0;
  border-radius: 2px;
}
.aboutSect .aboutContainer .imageContainer .backers .imgbackerLeft {
  right: 15%;
  background-color: #3d4761;
}
.aboutSect .aboutContainer .imageContainer .backers .imgbackerBottom {
  top: 20%;
  background-color: #e8eefb;
}
.aboutSect .aboutContainer .imageContainer .backers .imgbackerRight {
  margin: 20%;
  width: 76%;
  height: 60%;
  left: 10%;
  background-color: #e8eefb;
}
.aboutSect .aboutContainer .imageContainer img {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.aboutSect .aboutContainer .aboutMeContainer {
  width: 60%;
}
.aboutSect .aboutContainer .aboutMeContainer .aboutMeText h2,
.aboutSect .aboutContainer .aboutMeContainer .aboutMeText p {
  color: #717896;
  font-size: 1rem;
}
.aboutSect .aboutContainer .aboutMeContainer .aboutMeText h2,
.aboutSect .aboutContainer .aboutMeContainer .aboutMeText h3 {
  padding-bottom: 10px;
}
.aboutSect .aboutContainer .aboutMeContainer .aboutMeText h2 {
  font-variant: small-caps;
  font-weight: 600;
}
.aboutSect .aboutContainer .aboutMeContainer .aboutMeText h3 {
  color: #3d4862;
  font-weight: 900;
  font-size: 1.5rem;
}
.aboutSect .aboutContainer .aboutMeContainer .aboutMeText p,
.aboutSect .aboutContainer .aboutMeContainer .aboutMeText h3 {
  text-align: justify;
  text-justify: auto;
}
.aboutSect .aboutContainer .aboutMeContainer a button {
  width: 200px;
  height: 50px;
  margin-top: 50px;
}

@media (max-width: 1080px) {
  .aboutSect .aboutContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutSect .aboutContainer .imageContainer {
    width: 50%;
    margin-top: 50px;
  }
  .aboutSect .aboutContainer .aboutMeContainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutSect .aboutContainer .aboutMeContainer .aboutMeText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutSect .aboutContainer .aboutMeContainer .aboutMeText h2,
.aboutSect .aboutContainer .aboutMeContainer .aboutMeText h3 {
    text-align: center;
  }
  .aboutSect .aboutContainer .aboutMeContainer .aboutMeText h2 {
    position: relative;
    font-size: 2rem;
    color: #3d4862;
  }
}
.skillSect {
  height: 100%;
}
.skillSect .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skillSect .skillContainer {
  height: 100%;
  width: 100%;
  padding: 5% 10%;
  margin: 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #191d28;
}
.skillSect .skillContainer .skillText {
  width: 100%;
  margin-bottom: 5%;
}
.skillSect .skillContainer .skillText h2,
.skillSect .skillContainer .skillText p {
  color: #d3d5d9;
  margin-top: 5%;
  text-align: justify;
  text-justify: auto;
}
.skillSect .skillContainer .skillText h2 {
  font-variant: small-caps;
  font-weight: 900;
  font-size: 2rem;
}
.skillSect .skillContainer .skillIconContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skillSect .skillContainer .skillIconContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.skillSect .skillContainer .skillIconContainer ul .iconPair {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10%;
  margin: 5%;
}
.skillSect .skillContainer .skillIconContainer ul .iconPair p {
  margin-top: 1vw;
  font-size: 1.5vw;
  color: #d3d5d9;
}
.skillSect .skillContainer .skillIconContainer ul .iconPair p i {
  font-size: 3.5vw;
  color: #fbc25e;
}

@media (max-width: 1080px) {
  .skillSect .skillContainer .skillText h2,
.skillSect .skillContainer .skillText p {
    text-align: left;
    text-justify: none;
  }
  .skillSect .skillContainer .skillIconContainer ul .iconPair {
    width: 15%;
  }
  .skillSect .skillContainer .skillIconContainer ul .iconPair p {
    font-size: 2.5vw;
  }
  .skillSect .skillContainer .skillIconContainer ul .iconPair p i {
    font-size: 5vw;
  }
}
@media (max-width: 700px) {
  .skillSect .skillContainer .skillText h2 {
    text-align: center;
  }
  .skillSect .skillContainer .skillIconContainer ul .iconPair {
    width: 20%;
    margin: 2%;
  }
  .skillSect .skillContainer .skillIconContainer ul .iconPair p {
    font-size: 2.5vw;
  }
  .skillSect .skillContainer .skillIconContainer ul .iconPair p i {
    font-size: 5vw;
  }
  .skillSect .skillContainer .skillIconContainer ul .responsiveIcon p i {
    font-size: 45vw;
  }
  .skillSect .skillContainer .skillIconContainer ul .responsiveIcon .responsiveText {
    position: relative;
    top: -50%;
    color: #fbc25e;
  }
}
.projectSect .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
}
.projectSect .wrapper .projectsText h2 {
  font-variant: small-caps;
}
.projectSect .wrapper .projectsText p {
  margin: 15px 0;
}
.projectSect .wrapper .projectShowcaseContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projectSect .wrapper .projectShowcaseContainer .projectClass {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 1rem 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer {
  width: 90%;
  height: 215px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e8eefb;
  position: relative;
  -webkit-transition: ease all 0.25s;
  transition: ease all 0.25s;
}
.projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer .gitBox {
  position: absolute;
  right: 0rem;
  width: 8rem;
  margin: 1rem;
  -webkit-transition: ease all 0.25s;
  transition: ease all 0.25s;
  height: 100px;
  background: white;
}
.projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer .gitBox div {
  width: 100px;
  height: 100px;
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
          clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background: #191d28;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: ease all 0.2s;
  transition: ease all 0.2s;
}
.projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer .gitBox div i {
  font-size: 3rem;
  color: #bbc3dc;
  -webkit-filter: drop-shadow(0 0 5px #54668b);
          filter: drop-shadow(0 0 5px #54668b);
}
.projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer .gitBox div:hover {
  background: #292f40;
}
.projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer .gitBox div:hover i {
  font-size: 3.2rem;
  color: #fbc25e;
  -webkit-filter: drop-shadow(0 0 5px #fbc25e);
          filter: drop-shadow(0 0 5px #fbc25e);
}
.projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer a .imgBox {
  max-height: 100%;
  min-height: 210px;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer a .imgBox img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  min-height: 210px;
  top: 0;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer a .projectInfo {
  max-width: 400px;
  margin: 25px 10px;
}
.projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer a .projectInfo h3 {
  color: #54668b;
  font-size: 1.75rem;
}
.projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer a .projectInfo .projectCourse {
  font-variant: small-caps;
  color: #54668b;
}
.projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer a .projectInfo p {
  color: #3d4862;
  margin-top: 10px;
}
.projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer a .projectInfo p a {
  display: inline;
}
.projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer:hover {
  width: 100%;
  background-color: #bbc3dc;
  -webkit-box-shadow: -10px 0 #3d4761;
          box-shadow: -10px 0 #3d4761;
}
.projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer:hover .gitBox {
  right: -7rem;
}
.projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer:hover a .imgBox img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.projectSect .wrapper .projectShowcaseContainer .projectClass ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.projectSect .wrapper .projectShowcaseContainer .projectClass ul li {
  -ms-flex-item-align: center;
      align-self: center;
}
.projectSect .wrapper .projectShowcaseContainer .projectClass ul li i {
  font-size: 2.5rem;
  color: #333132;
  margin: 10px;
}
.projectSect .wrapper .projectShowcaseContainer .projectClass ul .collabs,
.projectSect .wrapper .projectShowcaseContainer .projectClass ul .collabsOutside {
  width: 100%;
  text-align: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 10%;
  color: #292f40;
}
.projectSect .wrapper .projectShowcaseContainer .projectClass ul .collabs a,
.projectSect .wrapper .projectShowcaseContainer .projectClass ul .collabsOutside a {
  position: relative;
  font-weight: 600;
  color: #191d28;
  display: block;
}
.projectSect .wrapper .projectShowcaseContainer .projectClass ul .collabs a::after,
.projectSect .wrapper .projectShowcaseContainer .projectClass ul .collabsOutside a::after {
  content: " - Visit Portfolio";
  color: #3d4761;
  font-weight: 300;
}
.projectSect .wrapper .projectShowcaseContainer .projectClass ul .collabs a:hover,
.projectSect .wrapper .projectShowcaseContainer .projectClass ul .collabsOutside a:hover {
  font-weight: 900;
  color: #292f40;
  -webkit-filter: drop-shadow(0 0 5px #191d28);
          filter: drop-shadow(0 0 5px #191d28);
}
.projectSect .wrapper .projectShowcaseContainer .projectClass ul .collabs a:hover::after,
.projectSect .wrapper .projectShowcaseContainer .projectClass ul .collabsOutside a:hover::after {
  left: 50px;
  font-weight: 600;
}
.projectSect .wrapper .projectShowcaseContainer .projectClass .collabsOutside {
  display: none;
}

@media (max-width: 1080px) {
  .projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer {
    width: 100%;
    height: 100%;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer .gitBox {
    right: -7rem;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer a .imgBox {
    min-width: 50%;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer a .imgBox img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer a .projectInfo {
    max-width: 400px;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass ul {
    width: 115%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass ul li i {
    font-size: 1.5rem;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass ul .collabs {
    text-align: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: 0%;
    width: 100%;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass ul .collabs a::after {
    content: "";
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass ul .collabs a::before {
    content: "Visit Portfolio - ";
    color: #3d4761;
    font-weight: 300;
  }
}
@media (max-width: 810px) {
  .projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer .gitBox {
    right: 12%;
    top: 65%;
    margin: 0rem;
    background: #e8eefb;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer a .imgBox {
    max-height: 50%;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer a .imgBox img {
    max-height: 50%;
    min-height: 0;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer:hover .gitBox {
    background: #bbc3dc;
    right: 12%;
    z-index: 50;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass ul li i {
    font-size: 1.5rem;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass ul .collabs {
    text-align: start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-right: 0%;
    width: 100%;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass ul .collabs a::after {
    content: "";
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass ul .collabs a::before {
    content: "";
  }
}
@media (max-width: 700px) {
  .projectSect .wrapper .projectShowcaseContainer .projectClass {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 2.5rem 0;
    position: relative;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer {
    width: 100%;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer .gitBox {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 100px;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer .gitBox div {
    width: 100px;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer a {
    padding-right: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer a .imgBox {
    height: 100%;
    max-height: 100%;
    width: 100%;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer a .imgBox img {
    max-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50;
    z-index: 10;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass .projectTopContainer:hover .gitBox {
    right: 10px;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass ul {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 10%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: end;
        align-content: flex-end;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass ul li {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass ul .collabs {
    display: none;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass .collabsOutside {
    position: absolute;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 75%;
    color: #292f40;
    -webkit-transition: ease all 0.2s;
    transition: ease all 0.2s;
    padding-top: 10%;
    z-index: 0;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass .collabsOutside a {
    position: relative;
    font-weight: 600;
    color: #191d28;
    display: block;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass .collabsOutside a::after {
    content: " - Visit Portfolio";
    color: #3d4761;
    font-weight: 300;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass .collabsOutside a:hover {
    font-weight: 900;
    color: #292f40;
    -webkit-filter: drop-shadow(0 0 5px #191d28);
            filter: drop-shadow(0 0 5px #191d28);
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass .collabsOutside a:hover::after {
    left: 50px;
    font-weight: 600;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass .collabsOutside:hover {
    bottom: -40px;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass:hover .collabsOutside {
    bottom: -40px;
  }
  .projectSect .wrapper .projectShowcaseContainer .projectClass:hover .collabsOutsideTall {
    bottom: -80px;
  }
}
.contactSect {
  height: 100%;
  position: relative;
}
.contactSect .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contactSect .wrapper .contactContainer {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 5% 10%;
  margin: 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #191d28;
}
.contactSect .wrapper .contactContainer .contactText {
  width: 66%;
}
.contactSect .wrapper .contactContainer .contactText h2 {
  color: #d3d5d9;
  font-variant: small-caps;
}
.contactSect .wrapper .contactContainer .contactText p {
  color: #717896;
}
.contactSect .wrapper .contactContainer .lowerHalf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contactSect .wrapper .contactContainer .lowerHalf form {
  width: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contactSect .wrapper .contactContainer .lowerHalf form .topInputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contactSect .wrapper .contactContainer .lowerHalf form .topInputs .inputBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contactSect .wrapper .contactContainer .lowerHalf form .topInputs .inputBox label {
  width: 175px;
  color: #fbc25e;
}
.contactSect .wrapper .contactContainer .lowerHalf form .topInputs .inputBox input {
  width: 100%;
  color: white;
  margin: 10px 0 10px 10px;
  padding: 5px;
  width: 100%;
  height: 40px;
  border: none;
  background: #333132;
}
.contactSect .wrapper .contactContainer .lowerHalf form .topInputs .inputBox input:focus {
  padding: 3px;
  outline: none;
  border: solid 2px #090a0e;
}
.contactSect .wrapper .contactContainer .lowerHalf form .bottomInput {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
}
.contactSect .wrapper .contactContainer .lowerHalf form .bottomInput label {
  color: #fbc25e;
}
.contactSect .wrapper .contactContainer .lowerHalf form .bottomInput textarea {
  width: 100%;
  height: 200px;
  color: white;
  padding: 5px;
  margin-top: 5px;
  border: none;
  background: #333132;
  width: 100%;
  resize: none;
}
.contactSect .wrapper .contactContainer .lowerHalf form .bottomInput textarea:focus {
  padding: 3px;
  outline: none;
  border: solid 2px #090a0e;
}
.contactSect .wrapper .contactContainer .lowerHalf form button {
  margin-top: 10px;
  height: 50px;
  width: 200px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.contactSect .wrapper .contactContainer .lowerHalf ul {
  background: #292f40;
  height: 100%;
  padding: 0px 15px;
  margin: 0 -10% 0 0;
  width: 57px;
  -ms-flex-item-align: end;
      align-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.contactSect .wrapper .contactContainer .lowerHalf ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}
.contactSect .wrapper .contactContainer .lowerHalf ul li a i {
  font-size: 1.5rem;
  color: #54668b;
}
.contactSect .wrapper .contactContainer .lowerHalf ul li a span {
  font-weight: 900;
  color: #d3d5d9;
  width: 20px;
  margin-right: 12px;
}
.contactSect .wrapper .contactContainer .lowerHalf ul li a p {
  white-space: nowrap;
  font-size: 0.8rem;
  color: #fbc25e;
}
.contactSect .wrapper .contactContainer .lowerHalf ul li a:hover {
  -webkit-filter: drop-shadow(0 0 5px #fbc25e);
          filter: drop-shadow(0 0 5px #fbc25e);
}
.contactSect .wrapper .contactContainer .lowerHalf ul li a:hover i {
  color: #fbc25e;
}
.contactSect .wrapper .contactContainer .rkcodeLogo {
  position: absolute;
  width: 30%;
  right: 5%;
  top: 5%;
  -webkit-transition: ease all 0.2s;
  transition: ease all 0.2s;
}
.contactSect .wrapper .contactContainer .rkcodeLogo:hover {
  -webkit-filter: drop-shadow(0 0 5px #fbc25e);
          filter: drop-shadow(0 0 5px #fbc25e);
}

@media (max-width: 1200px) {
  .contactSect .wrapper .contactContainer .contactText {
    width: 100%;
  }
  .contactSect .wrapper .contactContainer .lowerHalf {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactSect .wrapper .contactContainer .lowerHalf form {
    width: 100%;
  }
  .contactSect .wrapper .contactContainer .lowerHalf form button {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .contactSect .wrapper .contactContainer .lowerHalf ul {
    -ms-flex-item-align: start;
        align-self: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contactSect .wrapper .contactContainer .lowerHalf ul li a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .contactSect .wrapper .contactContainer .lowerHalf ul li a span {
    margin-left: 6px;
  }
  .contactSect .wrapper .contactContainer .rkcodeLogo {
    top: 75%;
  }
}
@media (max-width: 880px) {
  .contactSect .wrapper .contactContainer .lowerHalf form .topInputs .inputBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contactSect .wrapper .contactContainer .lowerHalf form .topInputs .inputBox input {
    margin: 10px 0 10px 0;
  }
  .contactSect .wrapper .contactContainer .lowerHalf form button {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .contactSect .wrapper .contactContainer .lowerHalf ul {
    background: #191d28;
    padding: 0p;
    margin: 0;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contactSect .wrapper .contactContainer .lowerHalf ul li {
    width: 175px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  .contactSect .wrapper .contactContainer .lowerHalf ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contactSect .wrapper .contactContainer .lowerHalf ul li a p {
    text-align: center;
  }
  .contactSect .wrapper .contactContainer .rkcodeLogo {
    display: none;
  }
  .contactSect .rkcodeLogoBottom {
    display: block;
    position: absolute;
    width: 120px;
    height: 100px;
    bottom: 0;
    right: 0;
  }
}
footer {
  background: #090a0e;
  z-index: 100;
  padding: 20px 0;
}
footer .wrapper .footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .wrapper .footerContainer p {
  font-size: 0.8rem;
  color: #3d4761;
}
footer .wrapper .footerContainer .moreCredits {
  text-align: center;
}
footer .wrapper .footerContainer .moreCredits a {
  font-size: 0.8rem;
  color: #3d4761;
}
footer .wrapper .footerContainer .moreCredits p {
  margin: 7px 0;
}

.hideSlideout {
  visibility: none;
  left: -150%;
}

.showSlideout {
  visibility: visible;
  left: 0%;
}

.emptyCircle span .fas.fa-bars {
  color: #fbc25e;
}
.emptyCircle span .far.fa-circle {
  color: #fbc25e;
}
.emptyCircle span .fas.fa-circle {
  color: #191d28;
}

.fullCircle span .fas.fa-bars {
  color: #191d28;
}
.fullCircle span .far.fa-circle {
  color: #fbc25e;
}
.fullCircle span .fas.fa-circle {
  color: #fbc25e;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

.sideNavSlideout ul .nestedMenu .colorMe {
  color: #fbc25e;
  -webkit-filter: drop-shadow(0 0 5px #fbc25e);
          filter: drop-shadow(0 0 5px #fbc25e);
}

.overlayJSClass {
  background-color: #191d28;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2359626f' fill-opacity='0.5' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  border: solid 1px #fbc25e;
  -webkit-box-shadow: inset 0 0 5px #191d28;
          box-shadow: inset 0 0 5px #191d28;
  opacity: 0.98;
  width: 60vw;
  height: 60vh;
  max-width: 1000px;
  max-height: 800px;
  position: fixed;
  top: 0;
  margin-left: 15%;
  margin-top: 15%;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px;
}
.overlayJSClass h3 {
  font-size: 2rem;
  color: #bbc3dc;
  font-variant: small-caps;
  margin-bottom: 10px;
}
.overlayJSClass .topInputs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.overlayJSClass .topInputs .inputBox {
  width: 100%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.overlayJSClass .topInputs .inputBox label {
  width: 175px;
  color: #fbc25e;
}
.overlayJSClass .topInputs .inputBox input {
  width: 100%;
  color: white;
  margin: 1% 0 1% 1%;
  padding: 5px;
  width: 100%;
  height: 40px;
  border: none;
  background: #333132;
}
.overlayJSClass .topInputs .inputBox input:focus {
  padding: 3px;
  outline: none;
  border: solid 2px #090a0e;
}
.overlayJSClass .bottomInput {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
  margin-top: 10px;
}
.overlayJSClass .bottomInput label {
  color: #fbc25e;
}
.overlayJSClass .bottomInput textarea {
  width: 100%;
  color: white;
  padding: 5px;
  margin-top: 5px;
  border: none;
  background: #333132;
  width: 100%;
  resize: none;
}
.overlayJSClass .bottomInput textarea:focus {
  padding: 3px;
  outline: none;
  border: solid 2px #090a0e;
}
.overlayJSClass button {
  margin-top: 10px;
  height: 50px;
  width: 200px;
  margin-left: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (max-width: 700px) {
  .overlayJSClass {
    height: 80vh;
  }
  .overlayJSClass .topInputs .inputBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .overlayJSClass .bottomInput {
    height: 100%;
  }
  .overlayJSClass .bottomInput textarea {
    height: 100%;
  }
  .overlayJSClass button {
    height: 50px;
    width: 92%;
    margin-left: 10px;
  }
}